
@{
    ViewBag.Title = "Classlink";
    Layout = "~/Views/Shared/admin.cshtml";
}

<div class="row">
    <div class="text-center fs-2">Class<b class="txt-mycolor">Link</b></div>
    <div class="col-sm-12 mx-auto">
        <div class="row">
            <div class="col-sm-4 card ms-4 mt-5">
                <div class="card-body ">
                    <h4 class="card-title text-center" style="color:#c6003d;">ADD ClassLink</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail" class="mt-4 "> Batch :</label>
                            <select name="cbatch" class="form-control mt-2">
                                <option value="0">Select Batch</option>
                                @foreach (var row in ViewBag.bac.Rows)
                                {
                                    <option value="@row[0]">@row[1]</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail" class="mt-2 ">
                                Class Link :
                            </label>
                            <input type="text" name="link" class="form-control  mt-2" />
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail" class="mt-2 ">
                                    Date :
                                </label>
                                <input type="date" name="date" class="form-control  mt-2" />
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail" class="mt-2 ">
                                    Start Time :
                                </label>
                                <input type="time" name="stime" class="form-control  mt-2" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail" class="mt-2 ">
                                    End Time :
                                </label>
                                <input type="time" name="etime" class="form-control  mt-2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail" class="mt-2 ">
                                Description :
                            </label>
                            <textarea name="message" class="form-control mt-2" ></textarea>
                        </div>
                        
                        <input type="submit" class="btn ms-4 mt-2 bg-mycolor text-light" value=" Add Classlink Now" />
                    </form>
                </div>
            </div>
            <div class="col-sm-12 card ms-4 mt-5">
                <table class="table table-bordered table-striped mt-4">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Batch</th>
                            <th>Class Link</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End time</th>
                            <th>Message</th>
                            <th>Add Date</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <thead>
                        @{
                            if (ViewBag.dm != null)
                            {
                                foreach (var r in ViewBag.dm.Rows)
                                {
                                                <tr>
                                                    <td>@r[0]</td>
                                                    <td>@r[1]</td>
                                                    <td>@r[2]</td>
                                                    <td>@r[3]</td>
                                                    <td>@r[4]</td>
                                                    <td>@r[5]</td>
                                                    <td>@r[6]</td>
                                                    <td>@r[7]</td>
                                                    <td><a href="?id=@r[0]"><i class="text-danger fa fa-trash"></i> </a></td>
                                                </tr>
                                }
                            }
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

