
@{
    ViewBag.Title = "Studentfeedback";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h2 class="text-center txt-mycolor m-3">Studentfeedback</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Message</th>
            <th scope="col">Feedback Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.sfeed != null)
            {
                if (ViewBag.sfeed.Rows.Count > 0)
                {
                    int i = 1;
                    foreach (var st in ViewBag.sfeed.Rows)
                    {
                <tr>
                    <td scope="row">@i</td>
                    <td scope="row">@st[4]</td>
                    <td scope="row"><a href="mailto:@st[2]" class="text-decoration-none">@st[1]</a></td>
                    <td scope="row"><a href="tel:+91 @st[5]" class="text-decoration-none">@st[4]</a></td>
                    <td scope="row">@st[1]</td>
                    <td scope="row">@st[3]</td>
                    <td><a href="?id=@st[0]"><i class="text-danger fa fa-trash"></i> </a></td>
                </tr>
                        { i = i + 1; }
                    }
                }
            }
        }
    </tbody>
</table>

